.lb .score {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 1px solid black;
  padding: 12px;
}
.lb .scores {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  margin: auto;
}

th,
td {
  text-align: start;
  width: 100%;

  vertical-align: middle;
}

.qbtn {
  display: block;
  border: 1px solid black;
  padding: 4px;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: white;
}
.qbtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
